{{#games}}
	{{#if even_pos}}
		<div id = {{id}} class = "game" style = "
			background: url('assets/images/backgrounds/{{ backgrounds }}') no-repeat center center fixed;
			background-size: cover;">
	{{else}}
		<div id = {{id}} class = "game" style = "
			background: url('assets/images/backgrounds/{{ backgrounds }}') no-repeat center center;
			background-size: cover">
	{{/if}}
			<h1>{{name}}</h1>
			
			<div class = "video_container">
			{{#videos}}
				<div class = "el_container">
					<img src="https://i.ytimg.com/vi/{{video_id}}/hqdefault.jpg" class = "vid-thumb">
					<img src = "assets/images/decor/yt-icon-thumb.png">
				</div>
			{{/videos}}
			</div>
		</div>
{{/games}}