<div id = "hero-top">
	<h1>Monster Hunter Trailer Viewer</h1>
	<p> A simple UI to display all the Monster Hunter game trailers</p>
</div>
{{#games}}
	{{#if even_pos}}
		<div id = {{id}} class = "game">
	{{else}}
		<div id = {{id}} class = "game odd">
	{{/if}}
			<h1>{{name}}</h1>
			
			<div class = "video_container">
			{{#videos}}
				<div class = "el_container">
					<input type = "hidden" value ="{{video_id}}">
					<p>Trailer {{ id }}</p>
				</div>
			{{/videos}}
			</div>
		</div>
{{/games}}
<footer>
	<div id = "lists_container">
		<div class = "list-wrapper">
			<h2>Resources</h2>
			<ul>
				<li>
					<a href="https://monsterhunter.wikia.com">
					Monster Hunter Wikia
					</a>
				</li>
				<li>
					<a href="https://reddit.com/r/MonsterHunter">
					Monster Hunter Subreddit
					</a>
				</li>
				<li>
					<a href="http://kiranico.com">
					Kiranico
					</a>
				</li>
			</ul>
		</div>
		<div class="list-wrapper">
			<h2>Check Out My Other Monster Hunter Web Apps!</h2>
			<ul>
				<li>
					<a href="https://jm5557.github.io/MHQuestJournal">
					Monster Hunter Quest Journal
					</a>
				</li>
				<li>
					<a href="https://jm5557.github.io/MHGCGen">
					Monster Hunter Guild Card Generator
					</a>
				</li>
			</ul>
		</div>
	</div>
	<small>
		<strong>DISCLAIMER:</strong>This is an unofficial fan site. Monster Hunter is property of CAPCOM Co., Ltd. and its respective owners.
	</small>
</footer>